<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find espeleo_gazebo)/worlds/empty.world" />
    <arg name="gui" value="true" />
  </include>
  
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find espeleo_description)/urdf/espeleo.xacro'" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="espeleo_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model espeleo -x 0 -y 0 -z 0" />
  
  <!-- ros_control mybot launch file -->
  <include file="$(find espeleo_control)/launch/espeleo_control.launch" />
  
</launch>
